<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/estilo.css">
  <title>Finanças</title>
</head>
<body>
  <div class="container">
    <div class="image-container">
      <img src="/imagens/logo.png" alt="Logo" style="max-width: 80%; max-height: 80%;">
    </div>
    <p class="quote">"Não guarde o que sobra depois de gastar; gaste o que sobra depois de guardar."</p>
    <h1><em>Warren Buffett</em></h1>
  </div>

  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-beige">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="login.html" style="margin-right: 15px;">Iniciar sessão</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html" style="margin-right: 15px;">Sobre Nós</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="functions.html" style="margin-right: 15px;">Funções</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <h1>Pessoas influentes no mundo da economia</h1>
    <div class="row" id="cardInfluentes">
      <!-- Cards serão carregados dinamicamente aqui -->
    </div>
  </div>

  <!-- Modal para detalhes das pessoas influentes -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" id="mtitulo">Detalhes</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <!-- Modal body -->
        <div class="modal-body" id="mdetalhe">Informações detalhadas</div>
        <img class="img-fluid" id="mImagem" src="...." alt="Imagem">
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    function carregaModal(titulo, detalhe, elemento) {
      document.getElementById("mtitulo").innerHTML = titulo;
      document.getElementById("mdetalhe").innerHTML = detalhe;
      document.getElementById("mImagem").src = elemento.parentNode.parentNode.firstElementChild.getAttribute("src");
    }

    const atualizarInfluentes = async () => {
      let strHtml = ``;
      // Simulação de uma chamada de API - substitua isso com sua própria chamada de API
      const lv = [
        { Nome: "Bill Gates", Detalhes: "Idade: 68 anos, Patrimônio: 50 bilhões, Empresa: Microsoft, Nacionalidade: Estados Unidos", Foto: "/imagens/Bill.jpg" },
        { Nome: "Mark Zuckerberg", Detalhes: "Idade: 38 anos, Patrimônio: 100 bilhões, Empresa: Facebook, Nacionalidade: Estados Unidos", Foto: "/imagens/Mark.jpg" },
        { Nome: "CR7", Detalhes: "Idade: 36 anos, Patrimônio: 500 milhões, Empresa: Nike, Nacionalidade: Portugal", Foto: "/imagens/CR.webp" },
        { Nome: "McGregor", Detalhes: "Idade: 32 anos, Patrimônio: 200 milhões, Empresa: Proper No. Twelve, Nacionalidade: Irlanda", Foto: "/imagens/McGregor.png" }
      ];

      for (const artigo of lv) {
        strHtml += `
          <div class="col-md-6">
            <div class="card">
              <img class="card-img-top" src="${artigo.Foto}" alt="${artigo.Nome}">
              <div class="card-body">
                <h4 class="card-title">${artigo.Nome}</h4>
                <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" onclick="carregaModal('${artigo.Nome}', '${artigo.Detalhes}', this)">Ver detalhes</a>
              </div>
            </div>
          </div>`;
      }
      document.getElementById("cardInfluentes").innerHTML = strHtml;
    };

    atualizarInfluentes();
  </script>
  <script src="/js/script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
